
menu "Drivers configuration"

    # camera
    osource "${SDK_PATH}/components/drivers/camera/Kconfig"

    # lcd
    osource "${SDK_PATH}/components/drivers/lcd/Kconfig"

	#rtc
	osource "${SDK_PATH}/components/drivers/rtc/Kconfig"
    
    # sd_card
    osource "${SDK_PATH}/components/drivers/sd_card/Kconfig"

endmenu
