

config COMPONENT_DRIVERS_ENABLE
	bool "Enbale drivers component"
	default n
	select COMPONENT_KENDRYTE_SDK_ENABLE

menu "Drivers configuration"
	depends on COMPONENT_DRIVERS_ENABLE

	menu "SPI TF card configuration"
		config SD_CARD_ENABLE
			bool "Enable SPI TF card"
			default n

		menu "SPI TF card Pin Func configuration"
			depends on SD_CARD_ENABLE
			config TF_SPI_GPIOHS_NUM_SCLK
				int "SPI TF card GPIOHS simulate SCK number"
				default 2
			config TF_SPI_GPIOHS_NUM_MOSI
				int "SPI TF card GPIOHS simulate MOSI number"
				default 3
			config TF_SPI_GPIOHS_NUM_MISO
				int "SPI TF card GPIOHS simulate MISO number"
				default 4
			config TF_SPI_GPIOHS_NUM_CS
				int "SPI TF card GPIOHS simulate CS number"
				default 5
		endmenu
	endmenu

endmenu

