
menu "Camera( Sensor ) configuration"

    comment "!!!DONT MODIFY CAMERA_RESOLUTION!!!"

    config ENABLE_CAMERA
        bool "enable camera"
        default y

    choice CAMERA_TYPE
        depends on ENABLE_CAMERA
        bool "Camera type"
        default CAMERA_GC0328_DUAL

        config CAMERA_OV2640
            bool "single ov2640"
            select NOT_MF1_BOARD
        config CAMERA_GC0328_SINGLE
            bool "single gc0328"
        config CAMERA_GC0328_DUAL
            bool "dual gc0328, IR+RGB"
    endchoice

    config CAMERA_RESOLUTION_WIDTH
        depends on ENABLE_CAMERA
        int "Camera resolution width"
        default 320
    config CAMERA_RESOLUTION_HEIGHT
        depends on ENABLE_CAMERA
        int "Camera resolution height"
        default 240
endmenu
