menu "Application configuration"

    config LONG_PRESS_FUNCTION_KEY_CLEAR_FEATURE
        bool "Long press button to clear feature"
        default y
    config LONG_PRESS_FUNCTION_KEY_RESTORE
        bool "Long press button to reset system"
        default y

endmenu

